<section>
  <img src="<%= result.image_url %>"/>
  <h3> <%= result.title  %> </h3> 
  <h5> <%= result.author  %> </h5>
  <p> <%= result.description  %> </p>
  <h5>ISBN: <%= result.isbn %> </h5>
  <h5>Bookshelf: <%= result.bookshelf %> </h5>
</section>