<img src=<%= detailResults.image_url %>/>
<h3> <%= detailResults.title  %> </h3> 
<h5> <%= detailResults.author  %> </h5>
<p> <%= detailResults.description  %> </p>
<h5>ISBN: <%= detailResults.isbn %> </h5>
<h5>Bookshelf: <%= detailResults.bookshelf %> </h5>
<button class="update" id="update_button">Update Details</button>